* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

body { 
    background-color: #a8dadc;
    min-width: 260px;
}

h3 {
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
}

p {
    color: white;
    font-weight: lighter;
    line-height: 25px;
    font-size: 0.9rem;
}

li {
    margin-bottom: 10px;
}

.extra-margin {
    padding: 15px 0px; 
    animation: slide-up 750ms;
}

.main-container {
    background-color: #f1faee;
    width: 92%;
    margin: 0 auto;
    height: fit-content;
    border-radius: 7px;
    overflow: hidden;
    
}

.intro {
    box-sizing: border-box;
    text-align: center;
    padding: 45px 40px;
}

.intro img {
    border-radius: 50%;
    width: 115px;
    margin-bottom: 15px;
}


.intro h2 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 15px;
}

.intro p {
    color: grey;
    font-size: 1.15rem;
}

.elements {
    box-sizing: border-box;
    padding: 30px 20px;
}

.line {
    height: 1px;
    opacity: 0.4;
    background-color: white;
    margin: 20px 0;
}

.list {
    padding: 0 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.occ {
    margin-top: 1px;
    font-style: italic;
    font-size: 0.7rem;
    line-height: 15px;
    color: rgb(197, 234, 255);
    margin-bottom: 5px;
}

.desc {
    margin-top: 2px;
    color: white;
    font-weight: lighter;
    line-height: 20px;
    font-size: 0.9rem;
}

.about {
    background-color: #457b9d;
}

.recent-projects {
    background-color: #e63946;
}

.experience {
    background-color: #023e8a;
}

.contact-me {
    background-color: #03045e;
}

.buttons button{
    background-color: rgba(0, 0, 255, 0);
    color: white;
    font-size: 1rem;
    padding: 8px 15px;
    margin: 3px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255,0.4);
    transition: border-color 200ms, color 200ms;
}

.buttons button:hover {
    border-color: #a8dadc;
    color: #a8dadc;
    transition: border-color 200ms, color 200ms;
}

@media only screen and (min-width: 361px) {
    .extra-margin {
        padding: 25px 10px;
    }
}

@media only screen and (min-width: 481px) {
    .extra-margin {
        padding: 35px 20px;
    }
}

@media only screen and (min-width: 601px) {
    .extra-margin {
        padding: 35px 20px;
    }
    .main-container {
        width: 514px;
    }
}

@media only screen and (min-width: 737px) {
    .extra-margin {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro {
        padding: 65px 60px;
    }

    .intro img {
        width: 100px;
    }

    .intro h2 {
        font-size: 1.7rem;
    }

    .intro p {
        font-size: 1.05rem;
    }

    .line {
        height: inherit;
        width: 1px;
        opacity: 0.4;
        background-color: white;
        margin: 0 20px;
    }

    .elements {
        display: flex;
        justify-content: center;
        padding: 50px 50px;
    }

    .elements h3 {
        font-size: 1rem;
        text-align: center;
    }

    .elements p {
        font-size: 0.75rem;
        line-height: 20px;
    }

    .list {
        font-size: 0.8rem;
    }
    .occ {
        font-size: 0.5rem;
    }
    .desc {
        font-size: 0.6rem;
    }
    .about {
        padding: 50px 90px;
    }
    .contact-me {
        padding: 50px 75px;
    }
    .buttons button{
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1000px) {

    * {
        margin: 0;
        padding: 0;
    }
    .main-container {
        width: 800px;
    }

    .elements {
        display: flex;
        align-items: center;
        justify-content: stretch;
        height: 225px;
    }
    .elements > h3 {
        display: block;
        width: 100px;
    }
    .elements > p {
        display: flex;
        width:500px;
        font-size: 0.8rem;
    }
    .elements > ul {
        display: flex;
        flex-direction: column;
        width: 500px;
    }
    .line {
        display: flex;
        height: 100%;
        width: 1px;
        opacity: 0.4;
        background-color: white;
    }
    .about {
        padding: 50px 50px;
    }
    .contact-me {
        padding: 50px 50px;
    }

    .list {
        font-size: 1rem;
    }
    .occ {
        font-size: 0.75rem;
    }
    .desc {
        font-size: 0.85rem;
    }
    .buttons button{
        font-size: 1rem;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}